<a href="https://colab.research.google.com/github/BernardoHalfeld/lia1-2023-1-Pessoal-/blob/main/Aula15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PostgreSQL em Python

In [ ]:
!pip install -q psycopg2

In [ ]:
import pandas as pd
import psycopg2 as pg
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql://postgres:123456@localhost/Aula15_LIA1')

In [ ]:
query = 'SELECT * FROM person'
df = pd.read_sql_query(query, con = engine)
df

    id      name
0    0  Bernardo
1    1     Jorge
2    2    Bianca
3    4    Ingrid
4    5      Luiz
5    6  Fabrício
6    8    Ingrid
7   10    Yasmin
8    7      Ezio
9    3     Laura
10   9   Gustavo
11  12    Danilo
12  13     Sofia

In [ ]:
conn = pg.connect(user = 'postgres',
                 password = '123456',
                 host = 'localhost',
                 port = '5432',
                 database = 'Aula15_LIA1')

In [ ]:
print(conn.info)

<psycopg2.extensions.ConnectionInfo object at 0x000001A7959209B0>

In [ ]:
print(conn.status)

1

In [ ]:
cursor = conn.cursor()

In [ ]:
new_name = input("Digite o nome da pessoa: ")
cursor.execute("insert into person (name) values ('{name}')".format(name = new_name))
conn.commit()

Digite o nome da pessoa: Sofia

In [ ]:
cursor.execute('select * from person')
print(cursor.fetchall())

[(0, 'Bernardo'), (1, 'Jorge'), (2, 'Bianca'), (4, 'Ingrid'), (5, 'Luiz'), (6, 'Fabrício'), (8, 'Ingrid'), (10, 'Yasmin'), (7, 'Ezio'), (3, 'Laura'), (9, 'Gustavo'), (11, 'Murilo'), (12, 'Danilo'), (13, 'Sofia')]

In [ ]:
new_name = input("Digite o novo nome: ")
id = input("Digite o Id a ser alterado: ")

cursor.execute("update person set name = '{name}' where id = {idp}". format(name = new_name, idp = id))
conn.commit()

Digite o novo nome: Messi
Digite o Id a ser alterado: 11

In [ ]:
id = input("Digite o Id do nome a ser apagado: ")
cursor.execute("delete from person where id = {idp}".format(idp = id))
conn.commit()

Digite o Id do nome a ser apagado: 11